
SDKROOT = macosx10.4
ARCHS = $(ARCHS_STANDARD_32_BIT)
GCC_VERSION = 4.0
GCC_VERSION_i386 = 4.0

MACOSX_DEPLOYMENT_TARGET = 10.4
MACOSX_DEPLOYMENT_TARGET_i386 = 10.4

ZERO_LINK = NO
GCC_PRECOMPILE_PREFIX_HEADER = YES
GCC_WARN_UNKNOWN_PRAGMAS = NO
GCC_WARN_FOUR_CHARACTER_CONSTANTS = NO
GCC_UNROLL_LOOPS = YES
GCC_FAST_MATH = YES
GCC_MODEL_TUNING = G5
GCC_ALTIVEC_EXTENSIONS = YES
GCC_DYNAMIC_NO_PIC = YES
GCC_PFE_FILE_C_DIALECTS = c objective-c c++ objective-c++
DEBUG_INFORMATION_FORMAT = dwarf-with-dsym